.partner-info:not(:first-child) {
    margin-top: 3rem;
}

.partner-info h2,
.partner-info h3 {
    font-family: 'Source Serif Pro', serif;
}

.partner-info h3 {
    margin-top: 1em;
}

.partner-info h4 {
    margin-bottom: 0.5rem;
}
