.button {
    background-color: var(--color-zzz-white);
    border: 0;
    border-radius: 8px;
    padding: 8px 16px;
    cursor: pointer;
}

.button--active,
.button:hover,
.button:focus,
.button:focus-within {
    background-color: var(--color-zzz-blue);
    color: var(--color-zzz-white);
}
