.header {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 50px;
    padding-right: var(--size-lang-dropdown);
}

.navbar {
    flex: 1;

    padding: 15px;
    font-size: 18px;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.navbar li {
    list-style: none;
}

.navbar a {
    text-decoration: none;
}

.logo {
    width: 50px;
}
